.skills__list {
    align-items: center;
    display: flex;
    justify-content: center;
}

.skills__list-item {
    border: 2px solid #A385E7;
    border-radius: 10px;
    display: inline-block;
    height: 8%;
    margin: 2%;
    padding: 20px;
    text-align: center;
    width: 8%;
}

.skills__language-icon {
    height: 60%;
    margin: 10px;
}

/*
    TABLET
*/

@media screen and (max-width: 1023px) {

    .skills__list {
        width: 100%;
        justify-content: flex-start;
    }

    .skills__list-item {
        margin-left: 0;
        margin-top: 20px;
        width: calc(33.33% - 2%);
    }
    
}

/*
    MOBILE
*/

@media screen and (max-width: 480px) {

    .skills__list {
        flex-direction: column;
    }

    .skills__list-item {
        width: 80%;
    }
}