body {
    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background: #fcfcfc;
}

p {
    font-size: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

h3 {
    font-size: 1rem;
    font-weight: 700;
}

li {
    display: inline;
}

section {
    padding: 90px 70px;
}

section p {
    line-height: 1.2rem;
}

strong {
    font-weight: 700;
}

/*
    TABLET
*/

@media screen and (max-width: 1024px) {

    :root {
        font-size: 14px;
    }

    section {
        padding: 50px;
    }
    
}

/* 
    MOBILE
*/

@media screen and (max-width: 480px) {

    :root {
        font-size: 12px;
    }

    section {
        padding: 20px;
    }

    h2 {
        font-size: 1.5rem;
        text-align: center;
    }
}