/* General */
body {
    color: #464646;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    background: #fcfcfc;
}

h2 {
    font-size: 2rem;
    font-weight: 700;
}

li {
    display: inline;
}

section {
    padding: 90px 70px;
}

section p {
    line-height: 1.2rem;
}

/* Header */
header {
    padding: 40px 70px;
}

header a {
    color: #464646;
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 70px 20px 70px;
    background: #fcfcfc;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.name {
    font-weight: bold;
    margin: 0;
    cursor: pointer;
}

.planet-icon {
    width: 1rem;
    padding-right: 5px;
}

.menu-item {
    margin: 0 0 0 15px;
}

.menu-item:hover {
    color: lightgray;
    transition: 0.5s all;
}

.header-main {
    padding-top: 90px;
    display: flex;
}

.header-main-text h1 {
    font-weight: 700;
    font-size: 3rem;
}

.header-main-text p {
    font-size: 1.2rem;
    line-height: 1.4rem;
}

.header-main-text h1, p {
    margin: 1.2rem 0;
}

.header-main-text li {
    font-weight: 500;
    display: inline;
    margin-right: 15px;
    color: #464646;
}

.header-main-text a:hover {
    text-decoration: underline;
}

.social a {
    display: inline-flex;
    align-items: center;
}

.social-icon {
    width: 1.1rem;
    padding-right: 5px;
}

.profile-picture {
    border-radius: 100%;
    width: 30%;
    height: 30%;
}

/* About */
.about {
    background: #f2ecff;
}

.about-container {
    max-width: 46rem;
}

.signature {
    width: 6rem;
}

/* Education */
.education {
    background: #f2ecff;
}

.education ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.education li {
    display: inline-block;
    text-align: center;
}

.education h3 {
    font-weight: 800;
}

.education-logo {
    margin: 40px auto 20px auto;
    width: 50%;
}

/* Contact */
.contact {
    background: #f2ecff;
}

/* Footer */
footer {
    text-align: center;
}